ion-content {
  background: linear-gradient(to top, #cac531, #f3f9a7);
}

h4 {
  color: #053307;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font: bolder;
}

ion-label {
  font-size: small;
  font: bolder;
}

ion-item {
  background: linear-gradient(to left, #d3cce3, #e9e4f0);;
}
